OPENAI_API_KEY=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
SUPABASE_URL=https://gfwxanrfewyjcazljkum.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdmd3hhbnJmZXd5amNhemxqa3VtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMzMzc0NTUsImV4cCI6MjA2ODkxMzQ1NX0.qsl4Nt_EugPogukaxLVqdFJjwo4-N8e0-f9mVaBJxuE