# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Streamlit
.streamlit/config.toml

# Logs
*.log

# Test/coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Misc
*.bak
*.swp
*.tmp

# Node (if any frontend)
node_modules/

# System
Thumbs.db
Desktop.ini